/*
	Color Palletes:
	● #DB7F67
	● #DBBEA1
	● #A37B73
	● #3F292B
	● #D34F73
*/

:root {
	--main-bg: #3F292B;
	--second-bg: #A37B73;
	--primary-color: #DBBEA1;
	--secondary-color: #DB7F67;
	--dimmer: #D34F73;
	--fonts: sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--fonts);
	color: var(--primary-color);
}

body {
	background-color: var(--main-bg) !important;
	height: 100vh;
}

header h1 {
	color: var(--primary-color);
	background-color: var(--second-bg);
	text-align: center;
	padding: 1em 0;
}

header h1 a {
	text-decoration: none;
}

header h2 {
	color: var(--primary-color);
	background-color: var(--second-bg);
	text-align: center;
	padding: 1em 0;
}

nav ul {
	text-align: center;
	list-style-type: none;
	list-style-position: inside;
	display: flex;
	justify-content: center;
}

nav ul li {
	padding: 20px 5px;
	width: 150px;
	position: relative;
}

nav ul li a {
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
}

nav ul li a:hover {
	border-bottom: 3px solid var(--primary-color);
}

.active {
	background-color: var(--dimmer);
	color: var(--main-bg) !important;
}

main {
	padding: 1em;
}

main section {
	width: 80vw;
	height: 75vh;
	margin: auto;
	display: flex;
}

main section ul {
	border: 1px solid var(--primary-color);
	list-style-type: none;
	padding: 1em;
	width: 20%;
	text-align: left;
}

main section article {
	width: 80%;
	margin-left: 1em;
}

main section article iframe {
	display: block;
	width: 100%;
	height: 100%;
}

main section img {
	display: block;
	width: 120%;
	height: 120%;
	margin: auto;
	object-fit: cover;
	border: 1px solid var(--primary-color);
}

main section article p {
	text-indent: 2em;
}
